<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-5G7nI54DZztVTvZ8+fl2QsMhR9XzHkTwdmMYTmvqsnmNyEi3CnBxH8WpNudEiJ+d" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title> Ingrediants </title>
</head>

<body>
    <nav class="navbar navbar-light text-white bg-dark">
        {% load static %}
        <a href="{%url 'index'%}"><img class=" m-lg-2" src="{% static 'logow.png' %}" style="width: 50px;"
                alt="logo"></a>
        <div class="position-absolute  top-50 start-50 translate-middle">
            <ul class="nav justify-content-end social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                    <a target="_blank" class="nav-link active " aria-current="page" style="color: #eee;"
                        href="https://web.facebook.com/profile.php?id=100008624955924"><i
                            class="bi bi-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" class="nav-link" style="color: #eee;" href="https://github.com/Moad666"><i
                            class="bi bi-github"></i></a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" class="nav-link" style="color: #eee;" href="https://twitter.com/eo_moad"><i
                            class="bi bi-twitter"></i></a>
                </li>
            </ul>
        </div>

        <div class="" id="navbarNav">
            <form class="d-flex">
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="nav-link " style="color: #eee;" href="{%url 'user_account'%}"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item"><div><a class="nav-link" style="color:#eee" href="{%url 'logout'%}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="{%url 'index'%}">Home</a>
        <a class="navbar-brand" href="{%url 'about'%}">Team</a>
    </nav>
    <div class="container-fluid" style="position: relative;">
        <img src="{% static 'kozina.jpg' %}" style="width: 100%; height: 700px; object-fit: cover;">
        <div class="text-center mt-5" style="position: absolute; top: 50%; right: 0; transform: translate(-100%, -50%);">
        </div>
      </div>



    <div class="">
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <h2 class="mb-3 mt-4 border-top border-dark">Ingrediant</h2>
                </div>
            </div>
        </div>
    </div>

                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 justify-content-center">
                            <div class="col">
                                <div class="card bg-black rounded-3 shadow bg-light mt-2">
                                    <img class="card-img-top rounded-3 " src="{{ recette.image_url }}" alt="{{ recette.title }}" style="height: 300px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">{{ recette.title }}</h3>
                                        <p class="card-text text-justify">{{ recette.description }}</p>
                                        <p class="card-text text-justify">{{ recette.text_desc }}</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2 class="mb-3 mt-4 border-top border-dark">Comments</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Opinion</th>
                        <th scope="col">User</th>
                        <th scope="col">Recipe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commentaire in commentaires %}
                    <tr>
                        <th scope="row">{{ commentaire.id }}</th>
                        <td>{{ commentaire.texte }}</td>
                        <td>{{ commentaire.utilisateur.username }}</td>
                        <td>{{ commentaire.recette.title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

</body>


</html>
